body {
    padding: 2em;
    font-size: .75em;
}

#controls p {
    float: left;
    padding-right: 2em;
}

table {
    clear: both;
}

.show {
    width: 5em;
}

@media print {
    input,
    #controls,
    .tablesorter-filter-row,
    .show-col { 
        display: none;
    }
}
