<html>
<head>
    <title>{{ directory }}</title>

    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

    <p><a href="/">home</a> &gt; {{ rpt_dir }} &gt;</p>
    
    <form action="" method="post" enctype="multipart/form-data" />
      <p><input type="file" name="file" />
         <input type="submit" value="Upload" /></p>
    </form>

    <ul>
    {% for rpt_name in rpt_names %}
        <li><a href="/{{ rpt_dir }}/{{ rpt_name }}">{{ rpt_name }}</a></li>
    {% endfor %}
    </ul>

</body>
</html>
