<html>
<head>
    <title>{{ subdir }}</title>

    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/theme.default.css" rel="stylesheet">
    <link href="/static/css/filter.formatter.css" rel="stylesheet">

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery.tablesorter.min.js"></script>
    <script src="/static/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="/static/js/jquery.tablesorter.widgets-filter-formatter.min.js"></script>
    <script src="/static/js/parsers/parser-input-select.js"></script>
    <script src="/static/js/script.js"></script>

    <script>
    $(function(){
        $('#directory').t2hTablesorter({sortList : [[3,1]]});
    });
    </script>
</head>

<body>
    <p><a href="/">home</a> &gt; {{ subdir }}</p>

    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    
    <form action="?action=upload" method="post" enctype="multipart/form-data" />
        <p>
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
        </p>
    </form>

    {% include '_controls.html' %}

    <form action="?action=delete" method="post">
        <table id="directory">
            <thead>
                <tr>
                    <th data-placeholder="All">Show</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr>
                    <td><input type="checkbox" name="slug" value="{{ report.slug }}"/></td>
                    <td><a href="/{{ subdir }}/{{ report.slug }}">{{ report.slug }}</a></td>
                    <td>{{ report.title }}</td>
                    <td>{{ report.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <input type="submit" value="Delete Checked" />
    </form>
</body>
</html>
